<div class="card window">
  <label class="tool" for="toggle-modal">✕</label>
  <h3 class="toggler">
    <input id="edit-title" type="checkbox">
    <span class="title off"><%= model.escape('title') %></span>
    <input
      name="title"
      class="title on input"
      value="<%= model.escape('title') %>">
    <label class="tool off" for="edit-title">✎</label>
    <label class="tool save on" for="edit-title">✓</label>
    <label class="tool cancel on" for="edit-title">✗</label>
  </h3>

  <div class="members">
  </div>

  <div class="toggler">
    <input id="edit-desc" type="checkbox">
    <h4>
      Description
    </h4>
    <label class="tool off" for="edit-desc">✎</label>
    <label class="tool save on" for="edit-desc">✓</label>
    <label class="tool cancel on" for="edit-desc">✗</label>
    <p class="desc off"><%= model.escape('description') %></p>
    <textarea name="description" class="desc on input"><%= model.escape('description')%></textarea>
  </div>
  <meter value="<%= model.escape('percent_done') %>"></meter>

  <div id="items">
    <ol>
    </ol>
    <div class="toggler">
      <input id="add-item" type="checkbox">
      <label for="add-item" class="add off link" data-id="<%= model.id %>">
        Add item
      </label>
      <form class="on">
        <input name="title" type="text" placeholder="Title">
        <button class="link">Create</button>
        <label for="add-item" class="link">Cancel</label>
      </form>
    </div>
  </div>
</div>