<h3><%= model.escape("title") %></h3>

<input id="expand-list-<%= ord %>" type="checkbox" checked>
<div>
  <label for="expand-list-<%= ord %>" class="arrow"></label>
</div>
<div class="on">
  <ol class="cards">
  </ol>

  <div class="toggler">
    <input id="add-card-<%= ord %>" type="checkbox">
    <label for="add-card-<%= ord %>" class="add off link" data-id="<%= model.id %>">
      Add a card...
    </label>
    <form class="on">
      <label> Title<br>
        <input name="title" type="text">
      </label>
      <label> Description<br>
        <textarea name="description"></textarea>
      </label>
      <button class="link">Create</button>
      <label for="add-card-<%= ord %>" class="link">Cancel</label>
    </form>
  </div>
</div>
